# Core
numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
scikit-learn==1.4.1.post1   # safer than 1.4.2

# App & viz
streamlit==1.37.1
plotly==5.24.1
matplotlib==3.8.3

# Optional
xgboost==2.0.3
shap==0.45.0
imbalanced-learn==0.12.0

# Export
openpyxl==3.1.2

# Misc
joblib==1.3.2
